In [2]:
import pandas as pd
data = {"字串":["台北","台中"],
        "變數":[1000, 3000],
        "浮點數":[3.258, 7.396],
        }

df = pd.DataFrame(data)
display(df)

   字串    變數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [3]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=4)

In [7]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=2, thousands=",", decimal=".").relabel_index(["列1","列2"])

In [9]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2, thousands=",", decimal=".")\
.relabel_index(["列1","列2"])

In [23]:
import numpy as np

data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01", periods=10),
                  columns=["台北", "台中"]
                  )
df

                  台北        台中
2023-09-01  1.540476  1.703714
2023-09-02  3.076536  4.222488
2023-09-03  1.964740  4.487062
2023-09-04  1.256398  4.841744
2023-09-05  3.823513  2.885299
2023-09-06  2.144571  3.338426
2023-09-07  4.044779  3.922063
2023-09-08  3.027682  3.078807
2023-09-09  1.329649  2.577438
2023-09-10  1.065230  3.171958

In [22]:
#視覺美化資料表
#pip install jinja2
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn", vmin=1, vmax=5, axis=None)

In [28]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5)) 
df.style\
.hide(subset=[0,2,4], axis=0)\
.hide(subset=[1,3], axis=1)

In [32]:
df= pd.DataFrame(np.random.randn(10,4), #10列 4欄
             columns=["A","B","C","D"]
             )

display(df)

def style_negative(v, props=""):
    return props if v < 0 else None

df.style\
.map(style_negative, props="color:red;")

          A         B         C         D
0  0.304710  1.031223 -0.065543  0.375670
1  1.202519 -0.416806  1.597354  0.112049
2 -0.667066 -1.153119  0.309762 -0.302939
3  1.201519  1.849708  0.934242 -0.712519
4  0.047855 -1.179318  0.222671  1.196941
5  0.412834  0.220845  0.450308 -0.813301
6 -1.271192  2.727447 -0.197158  0.158636
7 -1.803997  1.107994  1.363613 -0.257158
8 -0.176034 -0.726539  0.028913 -0.815105
9  0.279183  0.115377 -0.487995 -0.104793