In [3]:
import pandas as pd
data = {
    "字串":["台北", "台中"],
    "整數":[1000, 3000],
    "浮點數":[3.258, 7.396],
}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [9]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2, thousands="," , decimal=".")\
.relabel_index(["列1", "列2"])

In [15]:
import numpy as np
data = np.random.rand(10, 2) * 5
df = pd.DataFrame(data, 
                index = pd.date_range(start="2023-09-24", periods=10),
                columns=["台北", "台中"]
                )
df

                  台北        台中
2023-09-24  0.265696  3.180376
2023-09-25  3.862345  2.806635
2023-09-26  2.327187  1.218672
2023-09-27  1.650525  2.157935
2023-09-28  4.356170  3.777012
2023-09-29  3.599825  2.118326
2023-09-30  2.052568  2.574785
2023-10-01  2.841128  2.179038
2023-10-02  3.572121  0.295395
2023-10-03  0.558140  3.943980

In [18]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else:
        return "日照"

df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn", vmin=1, vmax=5, axis=None)

In [27]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))

df.style\
.hide(subset=[0,2,4], axis=0)\
.hide(subset=[1,3], axis=1) #axis=1 代表直排的欄

In [ ]:
df = pd.DataFrame(np.random.randn(10,4),
                columns=["A", "B", "C", "D"]
                )

display(df)